:root {
    --dark: #19191B;
    --gray: #696871;
    --purple: #5454D4;
    --orange: #FF7143;
}

html {
    scroll-padding: 100px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: dm sans, sans-serif;
    overflow-x: hidden;
}

.header {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 999;
    top: 0;
    padding-block: 30px;
    padding-inline: 20px;
}

[class*="__container"] {
    max-width: 1069px;
    margin-inline: auto;
    padding-inline: 20px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.header__list {
    display: flex;
    gap: clamp(15px, 3vw, 49px);
    align-items: center;
}

ul {
    list-style: none;
}

.header__list-link {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.47px;
    color: var(--gray);
    transition: color 0.3s ease;
}

.header__list-link.active {
    color: var(--dark);
    border-bottom: 2px solid var(--purple);
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

.header__list-link:hover {
    color: var(--dark);
}

.header__button,
.hero__button {
    font-weight: 700;
    font-size: clamp(14px, 1.2vw, 17px);
    letter-spacing: -0.53px;
    color: #fff;
    padding: 19px clamp(20px, 3vw, 59px);
    border-radius: 10px;
    transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.header__button {
    background-color: var(--orange);
}

.header__button:hover,
.hero__button:hover {
    opacity: 90%;
}

main {
    margin-top: 141px;
}

.hero {
    padding-block: clamp(35px, 4.6vw, 70px);
}

.hero__container {
    position: relative;
    overflow: hidden;
}

.hero__content {
    width: 100%;
    max-width: 423px;
    padding-block: clamp(46px, 6vw, 92px);
}

.hero__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 55vw;
    max-width: 600px;
    height: auto;
}

.hero__title {
    font-weight: 700;
    font-size: clamp(40px, 5vw, 80px);
    line-height: 1.2;
    letter-spacing: -2.5px;
    color: var(--dark);
}

.hero__description {
    font-family: "Mulish", sans-serif;
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.63px;
    color: var(--gray);
}

.hero__buttons {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.hero__button {
    background: var(--purple);
}

.hero__scroll {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E7E7E7;
    border-radius: 100px;
}

.companies {
    padding-block: 30px;
}

.companies__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.features {
    padding-block: clamp(60px, 8vw, 120px);
}

.features__container {
    display: flex;
    flex-direction: column;
    gap: clamp(35px, 4.6vw, 69px);
}

.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.feature__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 459px;
}

.feature__title {
    font-weight: 700;
    font-size: clamp(25px, 3.3vw, 50px);
    line-height: 1.3;
    letter-spacing: -1.56px;
    color: var(--dark);
}

.feature__desc {
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.63px;
    color: var(--gray);
}

.feature__image {
    flex: 1;
    width: 100%;
    max-width: 300px;
    height: auto;
}

.feature__link {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.63px;
    color: var(--purple);
}

.feature__link:hover {
    text-decoration: underline;
}

.mini-features {
    padding-block: 32px;
}

.mini-features__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: clamp(37px, 4.9vw, 74px);
}

.mini-feature {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.mini-feature__header {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.mini-feature__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.75px;
}

.mini-feature__description {
    font-family: "Mulish", sans-serif;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: var(--gray);
}

.mini-feature__image {
    height: 97px;
}

.subscription {
    padding-block: clamp(60px, 8vw, 118px) clamp(80px, 10vw, 158px);
}

.subscription__container {
    display: flex;
    flex-direction: column;
    gap: clamp(40px, 5.5vw, 82px);
}

.subscription__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.subscription__title {
    font-weight: 700;
    font-size: clamp(30px, 4vw, 60px);
    line-height: 1.2;
}

.subscription__tabs {
    display: flex;
    border-block: 5px solid #F7F7FB;
    border-inline: 6px solid #F7F7FB;
    border-radius: 10px;
}

.subscription__tab {
    cursor: pointer;
    font-family: inherit;
    border: none;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.5px;
    background: #F7F7FB;
    padding: 17px 56px;
    border-radius: 0 10px 10px 0;
    color: var(--dark)
}

.subscription__tab.active {
    border-radius: 10px 0 0 10px;
    background: var(--purple);
    color: white;
}

.subscription__plans {
    display: grid;
    grid-template-columns: 1fr 1.14fr 1fr;
    gap: 17px;
}

.subscription__plan {
    padding: 34px 23px 27px;
    background: #F8F8F8;
    border-radius: 10px;
    text-align: center;
}

.subscription__plan-title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.56px;
    line-height: 28px;
    color: var(--gray);
}

.subscription__plan-price {
    font-weight: 700;
    font-size: clamp(30px, 4vw, 60px);
    letter-spacing: -1.03px;
    line-height: 1.2;
    color: var(--dark);
    margin-top: 22px;
}

.subscription__plan-price>span {
    font-size: 28px;
}

.subscription__plan-features {
    font-family: "Mulish", sans-serif;
    font-size: 17px;
    letter-spacing: -0.53px;
    line-height: 50px;
    color: var(--gray);
    margin-top: 28px;
}

.subscription__plan-button {
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
    padding-block: 19px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -0.53px;
    color: var(--purple);
    margin-top: 36px;
}

.subscription__plan.active {
    background: var(--orange);
}

.subscription__plan.active .subscription__plan-title {
    color: rgba(255, 255, 255, 70%);
}

.subscription__plan.active .subscription__plan-price,
.subscription__plan.active .subscription__plan-features,
.subscription__plan.active .subscription__plan-button {
    color: white;
}

.subscription__plan.active .subscription__plan-button {
    background: #9F3919;
}

@media(max-width: 1024px) {
    .hero__content {
        max-width: 380px
    }
}

@media (max-width: 895px) {
    .hero__image {
        z-index: -1;
    }
}

@media (max-width: 767px) {
    .header {
        padding-block: 15px;
    }

    .header__nav {
        row-gap: 15px;
    }

    .header__list {
        order: 1;
        flex-basis: 100%;
        flex-wrap: wrap;
        gap: 15px;
    }

    .header__button {
        padding: 12px 20px;
        font-size: 14px;
        flex-shrink: 0;
    }

    .hero__container {
        display: flex;
        flex-direction: column;
    }

    .hero__content {
        max-width: 100%;
        padding-block: 20px;
    }

    .hero__title {
        letter-spacing: -1px;
    }

    .hero__description {
        letter-spacing: 0;
        font-size: 16px;
        line-height: 1.5;
    }

    .hero__image {
        display: none
    }

    .companies__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 15px;
    }

    .companies__company-logo {
        height: clamp(20px, 3vw, 30px);
        width: auto;
    }

    .feature {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .feature__image {
        width: 60%;
        margin: 0 auto;
    }

    .mini-features__container {
        grid-template-columns: 1fr;
    }

    .subscription__header {
        gap: 15px;
    }

    .subscription__plans {
        grid-template-columns: 1fr;
    }

    .subscription__tab {
        padding: 12px 30px;
    }

}
